parametersSchema:
	twig: structure([
		twigEnvironmentLoader: string()
	])

services:
	- PhpParser\ParserFactory
	- Driveto\PhpstanTwig\Twig\TwigAnalyzer
	- Driveto\PhpstanTwig\Twig\TwigLoadTemplateDataExtractor
	- Driveto\PhpstanTwig\Twig\TwigNodeTraverser
	- Driveto\PhpstanTwig\Twig\TwigRenderMethodDataExtractor
	- Driveto\PhpstanTwig\Twig\TwigLoadTemplateBlockDataExtractor
	- Driveto\PhpstanTwig\Twig\TwigToPhpCompiler
	- Driveto\PhpstanTwig\Twig\TwigEnvironmentFactory(%twig.twigEnvironmentLoader%)

rules:
    - Driveto\PhpstanTwig\Rule\TwigCheckRule
